{% extends "layout/layout.twig" %}

{% block page %}
<div class="banner">
  <img
    class="banner__image"
    src="http://watch-learn.com/themes/olympos/assets/images/bg-abstract.jpg"
    alt="CSS-Vn: Cộng đồng Front-end Việt Nam!"/>
  <div class="banner__content">
    <h1
      class="banner__title">
      CSS-Vn: Cộng đồng Front-end Việt Nam!
    </h1>
    <p
      class="banner__text">
      Trao đổi và chia sẻ kinh nghiệm về html/css/js
    </p>
    <a
      class="banner__button"
      href="http://css-vn.com">
      Learn more
    </a>
  </div>
</div>
{% endblock %}
