@import url("https://fonts.googleapis.com/css?family=Quicksand");
body,
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.banner {
  text-align: center;
  position: relative;
}

.banner__title {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 0;
  font-weight: bold;
}

.banner__text {
  font-size: 20px;
}

.banner__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.banner__button:hover {
  background-color: #ffaa31;
}

.banner__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
