// Colors
$blue: #58bae9;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #ffaa31;
$yellow: #faaf3f;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$gray-light: #f2f3f8;
$gray-eb: #ebedf2;
$success: #34bfa3;
$info: #36a3f7;
$warning: #ffb822;
$danger: #f4516c;
$light: #f8f9fa;
$dark: #1D1447;
$black: #111;
$silver: #ccc;
$pigeon-post: #aec9de;
$primary-color: $dark;
$secondary-color: $yellow;
// Font
$montserratd: 'Montserrat',
sans-serif;
$base-font: $montserratd;
$heading-font: $montserratd;
// Media breakpoints
$sm: 576px;
$md: 768px;
$lg: 990px;
$xl: 1200px;
