<div>
  <h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h1>
  <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
  <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
  <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
  <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
  <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h6>
</div>
<div>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
  <a href="#">This is a link</a>
  <br/>
  <a href="#" class="btn">This is a button link</a>
</div>